force-app/main/default/flows/Contact_Create_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>58.0</apiVersion>
    <assignments>
        <name>assign_Contact_lookup_to_found_inquiry</name>
        <label>assign Contact lookup to found inquiry</label>
        <locationX>1810</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.pba__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Listing_lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Customer_Care_user_to_Dubai_inq</name>
        <label>assign Customer Care user to Dubai inq</label>
        <locationX>490</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0053X00000CViW2QAL</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Customer_Care_user_to_UK_inq</name>
        <label>assign Customer Care user to UK inq</label>
        <locationX>50</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0057T000001nbaJQAQ</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Exclusive_Project_as_Record_type</name>
        <label>assign Exclusive Project as Record type</label>
        <locationX>732</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0127T000000Gr2oQAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.X3rd_Party_Agency_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Internal Brokerage</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.InquiryType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Form_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Free_for_All_Saudi_Arabia_SIR_user_to_Saudi_inq</name>
        <label>assign Free for All Saudi Arabia SIR user to Saudi inq</label>
        <locationX>930</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0057T000002FK3JQAW</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Listing_lookup_to_found_Inquiry</name>
        <label>assign Listing lookup to found Inquiry</label>
        <locationX>1810</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Listing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>update_found_inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Listing_lookup_to_Inquiry</name>
        <label>assign Listing lookup to Inquiry</label>
        <locationX>732</locationX>
        <locationY>2208</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Listing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Project_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_project_lookup</name>
        <label>assign project lookup</label>
        <locationX>578</locationX>
        <locationY>2724</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_projects.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Rent_as_Record_Type</name>
        <label>assign Rent as Record Type</label>
        <locationX>864</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0127T000000Gr2yQAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.InquiryType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Form_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sale_as_Record_Type</name>
        <label>assign Sale as Record Type</label>
        <locationX>600</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0127T000000Gr33QAC</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.InquiryType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Form_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sharing_Rule_for_Dubai</name>
        <label>assign Sharing Rule for Dubai</label>
        <locationX>622</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Gulf Sothebys</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Ref_Id_dubai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sharing_Rule_for_Saudi_Arabia</name>
        <label>assign Sharing Rule for Saudi Arabia</label>
        <locationX>1062</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saudi Arabia Sotheby&apos;s International Realty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Ref_Id_saudi</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sharing_Rule_for_UK</name>
        <label>assign Sharing Rule for UK</label>
        <locationX>182</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK Sotheby&apos;s International Realty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Ref_Id_uk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>create_new_Inquiry_record</name>
        <label>create new Inquiry record</label>
        <locationX>864</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>inquiryRecord.Form_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Name_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Form_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Region_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Form_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Location_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Form_Submission_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Submission_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Message_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Original_UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Original_UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Original_UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Original_UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Original_UTM_Term__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Term__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.URL_Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.URL_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__FullBathrooms_pb_min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bathrooms_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__Bedrooms_pb_min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bedrooms_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__ListingPrice_pb_min__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__ListingType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Listing_Type_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Submission_Property_ID_Reference__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Reference_ID_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba_uaefields__City_Propertyfinder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_City_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Project_Name_Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Project_Name_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba_uaefields__Community_Propertyfinder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Community_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba_uaefields__Sub_Community_Propertyfinder__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Sub_Community_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.B2B_Buyers_Full_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.B2B_Buyers_Email__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.B2B_Buyers_Mobile__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__PropertyType__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_Type__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Property_City_Inquiry__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Property_City_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Website_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website_Project_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__Bedrooms_pb_max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Bedrooms_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.pba__ListingPrice_pb_max__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Price_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.SIR_Listing_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.SIR_Listing_ID__c</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Listing_type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Contact_lookup</name>
        <label>check Contact lookup</label>
        <locationX>1942</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>check_Listing_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_Contact_lookup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_inquiry.pba__Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Contact_lookup_to_found_inquiry</targetReference>
            </connector>
            <label>no Contact lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Form_Name</name>
        <label>check Form Name</label>
        <locationX>864</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>check_Form_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Name_contains_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Name_Contact__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Exclusive_Project_as_Record_type</targetReference>
            </connector>
            <label>Form Name contains &apos;Project&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Form_Region</name>
        <label>check Form Region</label>
        <locationX>864</locationX>
        <locationY>1200</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Region_is_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inquiryRecord.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sharing_Rule_for_UK</targetReference>
            </connector>
            <label>Form Region is UK</label>
        </rules>
        <rules>
            <name>Form_Region_is_Dubai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inquiryRecord.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sharing_Rule_for_Dubai</targetReference>
            </connector>
            <label>Form Region is Dubai</label>
        </rules>
        <rules>
            <name>Form_Region_is_Saudi_Arabia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>inquiryRecord.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sharing_Rule_for_Saudi_Arabia</targetReference>
            </connector>
            <label>Form Region is Saudi Arabia</label>
        </rules>
        <rules>
            <name>Sharing_Rule_is_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>inquiryRecord.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
            </connector>
            <label>Sharing Rule is assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Listing</name>
        <label>check Listing</label>
        <locationX>864</locationX>
        <locationY>2100</locationY>
        <defaultConnector>
            <targetReference>check_Project_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>listing_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Listing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Listing_lookup_to_Inquiry</targetReference>
            </connector>
            <label>listing found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Listing_lookup</name>
        <label>check Listing lookup</label>
        <locationX>1942</locationX>
        <locationY>792</locationY>
        <defaultConnector>
            <targetReference>update_found_inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_Listing_lookup</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>get_inquiry.Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>look_for_Listing_based_on_Listing_Ref_ID_or_SIR_Listing_ID</targetReference>
            </connector>
            <label>no Listing lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Listing_type</name>
        <label>check Listing type</label>
        <locationX>864</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assign_Sale_as_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Listing_type_is_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sale_as_Record_Type</targetReference>
            </connector>
            <label>Listing type is Sale</label>
        </rules>
        <rules>
            <name>Listing_type_is_Rent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Type_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Rent_as_Record_Type</targetReference>
            </connector>
            <label>Listing type is Rent</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Project_Name</name>
        <label>check Project Name</label>
        <locationX>864</locationX>
        <locationY>2400</locationY>
        <defaultConnector>
            <targetReference>create_new_inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Name_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Name_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Project_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_projects</targetReference>
            </connector>
            <label>Project Name not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_projects</name>
        <label>check projects</label>
        <locationX>710</locationX>
        <locationY>2616</locationY>
        <defaultConnector>
            <targetReference>create_new_inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>project_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_projects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_project_lookup</targetReference>
            </connector>
            <label>project found</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Reference Id which is used for Listing is not provided and Form Region is Dubai, assign Dubai Sotheby&apos;s user as the Owner.</description>
        <name>check_Ref_Id_dubai</name>
        <label>check Ref Id - dubai</label>
        <locationX>622</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_Id_not_given_dubai</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_ID_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Customer_Care_user_to_Dubai_inq</targetReference>
            </connector>
            <label>Reference Id not given - dubai</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Reference Id which is used for Listing is not provided and Form Region is Saudi Arabia, assign &apos;Free for All Saudi Arabia SIR&apos; user as the Owner.</description>
        <name>check_Ref_Id_saudi</name>
        <label>check Ref Id - saudi</label>
        <locationX>1062</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_Id_not_given_saudi</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_ID_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Free_for_All_Saudi_Arabia_SIR_user_to_Saudi_inq</targetReference>
            </connector>
            <label>Reference Id not given - saudi</label>
        </rules>
    </decisions>
    <decisions>
        <description>If Reference Id which is used for Listing is not provided and Form Region is UK, assign Customer Care user as the Owner.</description>
        <name>check_Ref_Id_uk</name>
        <label>check Ref Id - uk</label>
        <locationX>182</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_Id_not_given</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_ID_Contact__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Customer_Care_user_to_UK_inq</targetReference>
            </connector>
            <label>Reference Id not given</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Reference_ID_and_SIR_Listing_ID</name>
        <label>check Reference ID and SIR Listing ID</label>
        <locationX>864</locationX>
        <locationY>1800</locationY>
        <defaultConnector>
            <targetReference>get_Listing</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_ID_or_SIR_Listing_ID_is_not_null</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID_Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SIR_Listing_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Listing</targetReference>
            </connector>
            <label>Reference ID or SIR Listing ID is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_inquiry_exist</name>
        <label>does inquiry exist ?</label>
        <locationX>1403</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>check_Contact_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>inquiry exists</defaultConnectorLabel>
        <rules>
            <name>inquiry_doesnt_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_inquiry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>create_new_Inquiry_record</targetReference>
            </connector>
            <label>inquiry doesnt exist</label>
        </rules>
    </decisions>
    <description>Will create an inquiry after 5 mins on Contact creation only if the Form Submission ID on Contact is not present on any Inquiry. This flow is created for Hubspot/Web2Lead.</description>
    <environments>Default</environments>
    <interviewLabel>Contact | Create Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Contact | Create Inquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_inquiry</name>
        <label>create new inquiry</label>
        <locationX>864</locationX>
        <locationY>3000</locationY>
        <inputReference>inquiryRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get inquiry where Form_Submission_ID is same as Contact&apos;s Form_Submission_ID.</description>
        <name>get_inquiry</name>
        <label>get inquiry</label>
        <locationX>1403</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_inquiry_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_Submission_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Request__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>get Listing based on Listing Ref ID or SIR Listing ID.</description>
        <name>get_Listing</name>
        <label>get Listing</label>
        <locationX>864</locationX>
        <locationY>1992</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Listing</targetReference>
        </connector>
        <filterLogic>(2 AND 1) OR (3 AND 4)</filterLogic>
        <filters>
            <field>gsir_auto_Generated_broker_reference_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reference_ID_Contact__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>gsir_auto_Generated_broker_reference_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SIR_Listing_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Will look for projects based on &apos;Website Project Id&apos;.</description>
        <name>get_projects</name>
        <label>get projects</label>
        <locationX>710</locationX>
        <locationY>2508</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Website_Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Website_Project_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>CD_Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>look_for_Listing_based_on_Listing_Ref_ID_or_SIR_Listing_ID</name>
        <label>look for Listing based on Listing Ref ID or SIR Listing ID</label>
        <locationX>1810</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Listing_lookup_to_found_Inquiry</targetReference>
        </connector>
        <filterLogic>(2 AND 1) OR (3 AND 4)</filterLogic>
        <filters>
            <field>gsir_auto_Generated_broker_reference_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_inquiry.Submission_Property_ID_Reference__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>gsir_auto_Generated_broker_reference_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_inquiry.SIR_Listing_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>pba__Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordUpdates>
        <name>update_found_inquiry</name>
        <label>update found inquiry</label>
        <locationX>1942</locationX>
        <locationY>1200</locationY>
        <inputReference>get_inquiry</inputReference>
    </recordUpdates>
    <start>
        <locationX>468</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_min_delay</name>
            <connector>
                <targetReference>get_inquiry</targetReference>
            </connector>
            <label>5 min delay</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>inquiryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>pba__Request__c</objectType>
    </variables>
</Flow>
