force-app/main/default/flows/Convert_Lead_automatically.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>convert_Lead</name>
        <label>convert Lead</label>
        <locationX>50</locationX>
        <locationY>492</locationY>
        <actionName>AutoConvertLeads</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>LeadIds</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertLeads</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Convert_Lead_Method_for_existing_Contact</name>
        <label>Convert Lead Method for existing Contact</label>
        <locationX>314</locationX>
        <locationY>492</locationY>
        <actionName>AutoConvertLeads_ExistingContact</actionName>
        <actionType>apex</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>objContact</name>
            <value>
                <elementReference>get_contacts_with_same_email_phone_or_mobile</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>objLead</name>
            <value>
                <elementReference>$Record</elementReference>
            </value>
        </inputParameters>
        <nameSegment>AutoConvertLeads_ExistingContact</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>check_contacts_list</name>
        <label>check contacts list</label>
        <locationX>182</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>Convert_Lead_Method_for_existing_Contact</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Contact exists</defaultConnectorLabel>
        <rules>
            <name>contacts_list_is_blank</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_contacts_with_same_email_phone_or_mobile</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>convert_Lead</targetReference>
            </connector>
            <label>contacts list is blank</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Convert Lead automatically {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Convert Lead automatically</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>get_contacts_with_same_email_phone_or_mobile</name>
        <label>get contacts with same email, phone or mobile</label>
        <locationX>182</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_contacts_list</targetReference>
        </connector>
        <filterLogic>(2 AND 1) OR (4 AND 3) OR  (6 AND 5) OR  (8 AND 7)</filterLogic>
        <filters>
            <field>Email</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Email</elementReference>
            </value>
        </filters>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Phone</elementReference>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.MobilePhone</elementReference>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_Submission_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Contact</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>254</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>get_contacts_with_same_email_phone_or_mobile</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Email</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Phone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>MobilePhone</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Lead</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>after_1_min</name>
            <label>after 1 min</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <recordField>ConvertedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
