force-app/main/default/flows/Create_Inquiry.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>63.0</apiVersion>
    <assignments>
        <name>assign_Contact_lookup_to_found_inquiry</name>
        <label>assign Contact lookup to found inquiry</label>
        <locationX>1722</locationX>
        <locationY>600</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Contact__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Listing_lookup</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Customer_Care_user_to_UK_inq</name>
        <label>assign Customer Care user to UK inq</label>
        <locationX>50</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Exclusive_Project_as_Record_type</name>
        <label>assign Exclusive Project as Record type</label>
        <locationX>732</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.X3rd_Party_Agency_Client__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Private</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Inquiry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Form_Region</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Listing_lookup_to_found_Inquiry</name>
        <label>assign Listing lookup to found Inquiry</label>
        <locationX>1722</locationX>
        <locationY>1008</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Initial_Inquiry_Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Listing.Id</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>assign_Listing_lookup_to_Inquiry</name>
        <label>assign Listing lookup to Inquiry</label>
        <locationX>567</locationX>
        <locationY>2124</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Initial_Inquiry_Listing__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_Listing.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Project_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_project_lookup</name>
        <label>assign project lookup</label>
        <locationX>413</locationX>
        <locationY>2640</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Project__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>get_projects.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>create_new_inquiry</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Rent_as_Record_Type</name>
        <label>Assign Rent as Record Type</label>
        <locationX>864</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Inquiry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Tenant</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Form_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sale_as_Record_Type</name>
        <label>assign Sale as Record Type</label>
        <locationX>600</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Inquiry_Type__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Buyer</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Form_Name</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Sharing_Rule_for_Dubai</name>
        <label>Assign Sharing Rule for Dubai</label>
        <locationX>622</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UAE Sotheby&apos;s International Realty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Ref_Id_Dubai</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sharing_Rule_for_UK</name>
        <label>assign Sharing Rule for UK</label>
        <locationX>182</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>UK Sotheby&apos;s International Realty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>GBP</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Ref_Id_uk</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assign_Sharing_Rule_KSAs</name>
        <label>assign Sharing Rule KSA</label>
        <locationX>1062</locationX>
        <locationY>1308</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Sharing_Rule__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Saudi Arabia Sotheby&apos;s International Realty</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.CurrencyIsoCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>SAR</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Copy_2_of_check_Ref_Id_ksa</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_1_of_assign_Customer_Care_user_to_UK_inq</name>
        <label>Copy 1 of assign Customer Care user to UK inq</label>
        <locationX>490</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Copy_2_of_assign_Customer_Care_user_to_UK_inq</name>
        <label>Copy 2 of assign Customer Care user to UK inq</label>
        <locationX>930</locationX>
        <locationY>1524</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.OwnerId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Create_new_Inquiry_record</name>
        <label>Create new Inquiry record</label>
        <locationX>864</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>get_inquiry.Form_Name__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Name_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Form_Region__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Region_Contact__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Form_Location__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Location__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Form_Submission_ID__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Form_Submission_ID__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>inquiryRecord.Message__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Description__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Original_UTM_Campaign__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Campaign__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Original_UTM_Content__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Content__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Latest_UTM_Medium__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Medium__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Latest_UTM_Source__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Original_UTM_Source__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Website_Project_Id__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.Website_Project_Id__c</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>get_inquiry.Property_City__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Record.MailingCity</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>check_Listing_type</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Contact_lookup</name>
        <label>check Contact lookup</label>
        <locationX>1854</locationX>
        <locationY>492</locationY>
        <defaultConnector>
            <targetReference>check_Listing_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_Contact_lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_inquiry.Contact__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Contact_lookup_to_found_inquiry</targetReference>
            </connector>
            <label>no Contact lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Form_Name</name>
        <label>Check Form Name</label>
        <locationX>864</locationX>
        <locationY>900</locationY>
        <defaultConnector>
            <targetReference>check_Form_Region</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Name_contains_Project</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Name_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Project</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Exclusive_Project_as_Record_type</targetReference>
            </connector>
            <label>Form Name contains &apos;Project&apos;</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Form_Region</name>
        <label>check Form Region</label>
        <locationX>864</locationX>
        <locationY>1200</locationY>
        <defaultConnector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Form_Region_is_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_inquiry.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sharing_Rule_for_UK</targetReference>
            </connector>
            <label>Form Region is UK</label>
        </rules>
        <rules>
            <name>Form_Region_is_Dubai</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Dubai</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_inquiry.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Sharing_Rule_for_Dubai</targetReference>
            </connector>
            <label>Form Region is Dubai</label>
        </rules>
        <rules>
            <name>Form_Region_is_Saudi_Arabia</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Form_Region_Contact__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Saudi Arabia</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>get_inquiry.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sharing_Rule_KSAs</targetReference>
            </connector>
            <label>Form Region is Saudi Arabia</label>
        </rules>
        <rules>
            <name>Sharing_Rule_is_assigned</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_inquiry.Sharing_Rule__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
            </connector>
            <label>Sharing Rule is assigned</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Listing</name>
        <label>check Listing</label>
        <locationX>699</locationX>
        <locationY>2016</locationY>
        <defaultConnector>
            <targetReference>check_Project_Name</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>listing_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_Listing</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Listing_lookup_to_Inquiry</targetReference>
            </connector>
            <label>listing found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Listing_lookup</name>
        <label>check Listing lookup</label>
        <locationX>1854</locationX>
        <locationY>792</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>no_Listing_lookup</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_inquiry.Initial_Inquiry_Listing__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>look_for_Listing_based_on_Listing_Ref_ID_or_SIR_Listing_ID</targetReference>
            </connector>
            <label>no Listing lookup</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Listing_type</name>
        <label>check Listing type</label>
        <locationX>864</locationX>
        <locationY>600</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>assign_Sale_as_Record_Type</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Listing_type_is_Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Sale_as_Record_Type</targetReference>
            </connector>
            <label>Listing type is Sale</label>
        </rules>
        <rules>
            <name>Listing_type_is_Rent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Rent_as_Record_Type</targetReference>
            </connector>
            <label>Listing type is Rent</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Project_Name</name>
        <label>check Project Name</label>
        <locationX>699</locationX>
        <locationY>2316</locationY>
        <defaultConnector>
            <targetReference>create_new_inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Project_Name_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Project_Name__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Website_Project_Id__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_projects</targetReference>
            </connector>
            <label>Project Name not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_projects</name>
        <label>check projects</label>
        <locationX>545</locationX>
        <locationY>2532</locationY>
        <defaultConnector>
            <targetReference>create_new_inquiry</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>project_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_projects</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_project_lookup</targetReference>
            </connector>
            <label>project found</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Ref_Id_Dubai</name>
        <label>check Ref Id - Dubai</label>
        <locationX>622</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_1_of_Reference_Id_not_given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_1_of_assign_Customer_Care_user_to_UK_inq</targetReference>
            </connector>
            <label>Copy 1 of Reference Id not given</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Ref_Id_uk</name>
        <label>check Ref Id - uk</label>
        <locationX>182</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_Id_not_given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>assign_Customer_Care_user_to_UK_inq</targetReference>
            </connector>
            <label>Reference Id not given</label>
        </rules>
    </decisions>
    <decisions>
        <name>check_Reference_ID_and_SIR_Listing_ID</name>
        <label>check Reference ID and SIR Listing ID</label>
        <locationX>864</locationX>
        <locationY>1800</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Reference_ID_or_SIR_Listing_ID_is_not_null</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.SIR_listing_iD__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>get_Listing</targetReference>
            </connector>
            <label>Reference ID or SIR Listing ID is not null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Copy_2_of_check_Ref_Id_ksa</name>
        <label>check Ref Id - KSA</label>
        <locationX>1062</locationX>
        <locationY>1416</locationY>
        <defaultConnector>
            <targetReference>check_Reference_ID_and_SIR_Listing_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Copy_2_of_Reference_Id_not_given</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Reference_ID__c</leftValueReference>
                <operator>IsBlank</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Copy_2_of_assign_Customer_Care_user_to_UK_inq</targetReference>
            </connector>
            <label>Copy 2 of Reference Id not given</label>
        </rules>
    </decisions>
    <decisions>
        <name>does_inquiry_exist</name>
        <label>does inquiry exist ?</label>
        <locationX>1359</locationX>
        <locationY>384</locationY>
        <defaultConnector>
            <targetReference>check_Contact_lookup</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>inquiry exists</defaultConnectorLabel>
        <rules>
            <name>inquiry_doesnt_exist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>get_inquiry</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_new_Inquiry_record</targetReference>
            </connector>
            <label>inquiry doesnt exist</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Create Inquiry {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Create Inquiry</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>create_new_inquiry</name>
        <label>create new inquiry</label>
        <locationX>699</locationX>
        <locationY>2916</locationY>
        <inputReference>inquiryRecord</inputReference>
    </recordCreates>
    <recordLookups>
        <description>get inquiry where Form_Submission_ID is same as Contact&apos;s Form_Submission_ID.</description>
        <name>get_inquiry</name>
        <label>get inquiry</label>
        <locationX>1359</locationX>
        <locationY>276</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>does_inquiry_exist</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Form_Submission_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Inquiry__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>get_Listing</name>
        <label>get Listing</label>
        <locationX>699</locationX>
        <locationY>1908</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_Listing</targetReference>
        </connector>
        <filterLogic>(2 AND 1) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Auto_Generated_broker_reference_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Reference_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Auto_Generated_broker_reference_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.SIR_listing_iD__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <description>Will look for projects based on &apos;Website Project Id&apos;.</description>
        <name>get_projects</name>
        <label>get projects</label>
        <locationX>545</locationX>
        <locationY>2424</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>check_projects</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Website_Project_Id__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Website_Project_Id__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Project__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <recordLookups>
        <name>look_for_Listing_based_on_Listing_Ref_ID_or_SIR_Listing_ID</name>
        <label>look for Listing based on Listing Ref ID or SIR Listing ID</label>
        <locationX>1722</locationX>
        <locationY>900</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>assign_Listing_lookup_to_found_Inquiry</targetReference>
        </connector>
        <filterLogic>(2 AND 1) OR (3 AND 4)</filterLogic>
        <filters>
            <field>Auto_Generated_broker_reference_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <filters>
            <field>SIR_Listing_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_inquiry.Broker_s_Listing_ID__c</elementReference>
            </value>
        </filters>
        <filters>
            <field>Auto_Generated_broker_reference_ID__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>get_inquiry.Sumission_Property_ID__c</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>Listing__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>446</locationX>
        <locationY>0</locationY>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Form_Submission_ID__c</field>
            <operator>IsNull</operator>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </filters>
        <object>Contact</object>
        <recordTriggerType>Create</recordTriggerType>
        <scheduledPaths>
            <name>X5_min_delay</name>
            <connector>
                <targetReference>get_inquiry</targetReference>
            </connector>
            <label>5 min delay</label>
            <offsetNumber>5</offsetNumber>
            <offsetUnit>Minutes</offsetUnit>
            <timeSource>RecordTriggerEvent</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>inquiryRecord</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Inquiry__c</objectType>
    </variables>
</Flow>
