force-app/main/default/flows/Inquiry_Status.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_after_30_days</name>
        <label>Email after 30 days</label>
        <locationX>3218</locationX>
        <locationY>276</locationY>
        <actionName>Inquiry__c.Reminder_for_property_status_after_30_days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_status_to_archive</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Inquiry__c.Reminder_for_property_status_after_30_days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_after_7_days</name>
        <label>Email after 7 days</label>
        <locationX>2954</locationX>
        <locationY>276</locationY>
        <actionName>Inquiry__c.Reminder_for_property_details_after_7_days</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Update_to_Lost</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Inquiry__c.Reminder_for_property_details_after_7_days</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>63.0</apiVersion>
    <decisions>
        <name>Check_Lead_Type</name>
        <label>Check Lead Type</label>
        <locationX>1947</locationX>
        <locationY>492</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Hot_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hot_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Qualification</targetReference>
            </connector>
            <label>Hot Lead</label>
        </rules>
        <rules>
            <name>Cold_Lead</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Hot_Lead__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_to_Lost</targetReference>
            </connector>
            <label>Cold Lead</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prospect_Acceptance</name>
        <label>Check Prospect Acceptance</label>
        <locationX>314</locationX>
        <locationY>1032</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_won</targetReference>
            </connector>
            <label>Accepted</label>
        </rules>
        <rules>
            <name>Not_Accepted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Accepted__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_lost</targetReference>
            </connector>
            <label>Not Accepted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Prospect_Interest</name>
        <label>Check Prospect Interest</label>
        <locationX>710</locationX>
        <locationY>816</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_is_Interested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_to_offering_status</targetReference>
            </connector>
            <label>Interested</label>
        </rules>
        <rules>
            <name>Not_Interested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Client_is_Interested__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_status_to_archive</targetReference>
            </connector>
            <label>Not Interested</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Qualification</name>
        <label>Check Qualification</label>
        <locationX>1469</locationX>
        <locationY>600</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Viewing_Status</targetReference>
            </connector>
            <label>Qualified</label>
        </rules>
        <rules>
            <name>Not_qualified</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Un-Qualified</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <isGoTo>true</isGoTo>
                <targetReference>Update_status_to_lost</targetReference>
            </connector>
            <label>Not qualified</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Status_Update</name>
        <label>Check Status Update</label>
        <locationX>2318</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Not_yet_contacted</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Not Yet Contacted</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Not_reachable</targetReference>
            </connector>
            <label>Not yet contacted</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Viewing_Status</name>
        <label>Check Viewing Status</label>
        <locationX>1040</locationX>
        <locationY>708</locationY>
        <defaultConnector>
            <isGoTo>true</isGoTo>
            <targetReference>Update_status_to_archive</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Viewing</defaultConnectorLabel>
        <rules>
            <name>Viewing</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Viewing</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_Prospect_Interest</targetReference>
            </connector>
            <label>Viewing</label>
        </rules>
    </decisions>
    <environments>Default</environments>
    <interviewLabel>Inquiry Status {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Inquiry Status</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordUpdates>
        <name>Not_reachable</name>
        <label>Not reachable</label>
        <locationX>1947</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Check_Lead_Type</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Not Reachable</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_lost</name>
        <label>update to lost</label>
        <locationX>314</locationX>
        <locationY>1140</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_archive</name>
        <label>Update status to archive</label>
        <locationX>3218</locationX>
        <locationY>384</locationY>
        <connector>
            <targetReference>Update_status_to_lost</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Archived</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_status_to_lost</name>
        <label>Update status to lost</label>
        <locationX>3218</locationX>
        <locationY>492</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_to_Lost</name>
        <label>Update to Lost</label>
        <locationX>2954</locationX>
        <locationY>384</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Lost</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_offering_status</name>
        <label>update to offering status</label>
        <locationX>314</locationX>
        <locationY>924</locationY>
        <connector>
            <targetReference>Check_Prospect_Acceptance</targetReference>
        </connector>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Offering</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>update_to_won</name>
        <label>update to won</label>
        <locationX>50</locationX>
        <locationY>1140</locationY>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Won</stringValue>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <start>
        <locationX>2642</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Status_Update</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Status__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Not Yet Contacted</stringValue>
            </value>
        </filters>
        <object>Inquiry__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Wait_7_Days</name>
            <connector>
                <targetReference>Email_after_7_days</targetReference>
            </connector>
            <label>Wait 7 Days</label>
            <offsetNumber>7</offsetNumber>
            <offsetUnit>Days</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <scheduledPaths>
            <name>After_1_month</name>
            <connector>
                <targetReference>Email_after_30_days</targetReference>
            </connector>
            <label>After 1 month</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Months</offsetUnit>
            <recordField>CreatedDate</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Draft</status>
</Flow>
