force-app/main/default/flows/Listing_Status_After_Flow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Email_for_Exclusive_Listing_Under_Contract</name>
        <label>Email for Exclusive Listing Under Contract</label>
        <locationX>534</locationX>
        <locationY>3707</locationY>
        <actionName>Listing__c.Exclusive_Listing_Under_Contract</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Desion_for_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing__c.Exclusive_Listing_Under_Contract</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Email_for_Exclusive_Listing_Under_Contract_UK</name>
        <label>Email for Exclusive Listing Under Contract(UK)</label>
        <locationX>270</locationX>
        <locationY>3707</locationY>
        <actionName>Listing__c.Exclusive_Listing_Under_Contract_UK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Desion_for_Status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing__c.Exclusive_Listing_Under_Contract_UK</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Listing_calls</name>
        <label>Listing calls</label>
        <locationX>402</locationX>
        <locationY>731</locationY>
        <actionName>LogACall</actionName>
        <actionType>quickAction</actionType>
        <connector>
            <targetReference>Compliance_to_Content_Creation_Stage_Quality_Check</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>contextId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Subject</name>
            <value>
                <elementReference>$Record.Listing_Verification_Call_Center__c</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Description</name>
            <value>
                <stringValue>CC Listing verification log</stringValue>
            </value>
        </inputParameters>
        <nameSegment>LogACall</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Listing_Photo_Uploaded_Email_Alert_UAE</name>
        <label>Listing Photo Uploaded Email Alert UAE</label>
        <locationX>534</locationX>
        <locationY>431</locationY>
        <actionName>Listing__c.Listing_Photo_Uploaded_Email_Alert_UAE</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Verification_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing__c.Listing_Photo_Uploaded_Email_Alert_UAE</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Listing_Photo_Uploaded_Email_Alert_UK</name>
        <label>Listing_Photo_Uploaded_Email_Alert_UK</label>
        <locationX>270</locationX>
        <locationY>431</locationY>
        <actionName>Listing__c.Listing_Photo_Uploaded_Email_Alert_UK</actionName>
        <actionType>emailAlert</actionType>
        <connector>
            <targetReference>Verification_status</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing__c.Listing_Photo_Uploaded_Email_Alert_UK</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Listing_Published</name>
        <label>Listing Published</label>
        <locationX>314</locationX>
        <locationY>2327</locationY>
        <actionName>customNotificationAction</actionName>
        <actionType>customNotificationAction</actionType>
        <connector>
            <targetReference>Check_Property_Valuation</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>customNotifTypeId</name>
            <value>
                <stringValue>0ML3X0000004DEIWA2</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>recipientIds</name>
            <value>
                <elementReference>RecipientIDs</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>title</name>
            <value>
                <stringValue>Your listing has been published</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>body</name>
            <value>
                <stringValue>The listing for {![pba__Listing__c].Name} has been published</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>targetId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>customNotificationAction</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>Send_notifcation_Chatter</name>
        <label>Send notifcation - Chatter</label>
        <locationX>270</locationX>
        <locationY>1031</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>Dear @[{!$Record.OwnerId}],  Your Property owners contact is verified,  You can now request for content creation (Photo /Video / Description)</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>chatterPost</nameSegment>
        <offset>0</offset>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </actionCalls>
    <apiVersion>56.0</apiVersion>
    <assignments>
        <name>RecipientID</name>
        <label>RecipientIDs</label>
        <locationX>314</locationX>
        <locationY>2219</locationY>
        <assignmentItems>
            <assignToReference>RecipientIDs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>OwnerIds</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Listing_Published</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>check_Autogenerated_Broke_Reference_ID</name>
        <label>Check Autogenerated Broke Reference ID</label>
        <locationX>534</locationX>
        <locationY>3059</locationY>
        <defaultConnector>
            <targetReference>Exclusive_listing_under_contracts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Not_Null</name>
            <conditionLogic>(1 AND 2) OR (3 AND 1)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Auto_Generated_broker_reference_ID__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Auto_Generated_broker_reference_ID__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>update_fields</targetReference>
            </connector>
            <label>If Not Null</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Property_Valuation</name>
        <label>Check Property Valuation</label>
        <locationX>314</locationX>
        <locationY>2435</locationY>
        <defaultConnector>
            <targetReference>check_Autogenerated_Broke_Reference_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Available</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Property_Valuation__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Property_Valuation__r.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>Instructed</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Update_Property_Valuation_Status</targetReference>
            </connector>
            <label>If Available</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_status_is_Lost</name>
        <label>Check status is Lost</label>
        <locationX>534</locationX>
        <locationY>1571</locationY>
        <defaultConnector>
            <targetReference>Check_statuss</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>status_is_Losts</name>
            <conditionLogic>(1 AND 2) OR (1 AND 3)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Lost</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Call_center_to_Verify_Create_Task</targetReference>
            </connector>
            <label>status is Lost</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_statuss</name>
        <label>Check status</label>
        <locationX>534</locationX>
        <locationY>2111</locationY>
        <defaultConnector>
            <targetReference>check_Autogenerated_Broke_Reference_ID</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Verification_statuss</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Published</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>RecipientID</targetReference>
            </connector>
            <label>Verification status</label>
        </rules>
    </decisions>
    <decisions>
        <name>Compliance_to_Content_Creation_Stage_Quality_Check</name>
        <label>Compliance to Content Creation Stage Quality Check</label>
        <locationX>534</locationX>
        <locationY>923</locationY>
        <defaultConnector>
            <targetReference>Check_status_is_Lost</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Stage_Quality_Check</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Quality Check</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Send_notifcation_Chatter</targetReference>
            </connector>
            <label>Stage Quality Check</label>
        </rules>
    </decisions>
    <decisions>
        <name>Desion_for_Status</name>
        <label>Desion for Status</label>
        <locationX>534</locationX>
        <locationY>3899</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>If_Status_is_Sold</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sold</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Create_a_Task</targetReference>
            </connector>
            <label>If Status is Sold</label>
        </rules>
    </decisions>
    <decisions>
        <name>Exclusive_listing_under_contracts</name>
        <label>Exclusive listing under contracts</label>
        <locationX>534</locationX>
        <locationY>3599</locationY>
        <defaultConnector>
            <targetReference>Desion_for_Status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Exclusive_listing_under_contract_UK1</name>
            <conditionLogic>((1 AND 3 AND 2) OR (2 AND 4  AND 1) OR (1 AND 2 AND 3 AND 4) OR (5 AND 1 AND 2)) AND 6</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mandate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Broker_s_Listing_ID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_Exclusive_Listing_Under_Contract_UK</targetReference>
            </connector>
            <label>Exclusive listing under contract  (UK)</label>
        </rules>
        <rules>
            <name>Exclusive_listing_under_contract</name>
            <conditionLogic>(1 AND 3 AND 2) OR (2 AND 4  AND 1) OR (1 AND 2 AND 3 AND 4) OR (5 AND 1 AND 2)</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Mandate__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Exclusive</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Under Contract</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Mandate__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Status__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>IsNew</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Email_for_Exclusive_Listing_Under_Contract</targetReference>
            </connector>
            <label>Exclusive listing under contract (GS)</label>
        </rules>
    </decisions>
    <decisions>
        <name>Photo_Uploaded</name>
        <label>Photo Uploaded</label>
        <locationX>534</locationX>
        <locationY>323</locationY>
        <defaultConnector>
            <targetReference>Verification_status</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Photo_Uploaded_Verify_UK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Photo_Uploaded_Verify__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Auto_Generated_broker_reference_ID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>UK</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Photo_Uploaded_Verify__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Listing_Photo_Uploaded_Email_Alert_UK</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Photo Uploaded Verify UK</label>
        </rules>
        <rules>
            <name>Photo_Uploaded_Verify_GS</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Photo_Uploaded_Verify__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Auto_Generated_broker_reference_ID__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <stringValue>GS</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Listing_Photo_Uploaded_Email_Alert_UAE</targetReference>
            </connector>
            <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
            <label>Photo Uploaded Verify GS</label>
        </rules>
    </decisions>
    <decisions>
        <name>Verification_status</name>
        <label>Verification status</label>
        <locationX>534</locationX>
        <locationY>623</locationY>
        <defaultConnector>
            <targetReference>Compliance_to_Content_Creation_Stage_Quality_Check</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Check_status</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Verification_Call_Center__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Listing_Verification_Call_Center__c</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Listing_calls</targetReference>
            </connector>
            <label>Check status</label>
        </rules>
    </decisions>
    <description>Removed Photo uploaded &amp; email send logic</description>
    <environments>Default</environments>
    <formulas>
        <name>BrokerLID</name>
        <dataType>String</dataType>
        <expression>SUBSTITUTE( {!$Record.Auto_Generated_broker_reference_ID__c} , &quot;-&quot;, &quot;_&quot;)</expression>
    </formulas>
    <formulas>
        <name>Check_Listing_Inquiry_Recipient</name>
        <dataType>String</dataType>
        <expression>IF(
NOT(ISBLANK({!$Record.Listing_Inquiry_Recipient__c})),
{!$Record.Listing_Inquiry_Recipient__r.Id},
{!$Record.OwnerId})</expression>
    </formulas>
    <formulas>
        <name>DateOfTask</name>
        <dataType>DateTime</dataType>
        <expression>Now()</expression>
    </formulas>
    <formulas>
        <name>IsNew</name>
        <dataType>Boolean</dataType>
        <expression>ISNEW()</expression>
    </formulas>
    <formulas>
        <name>OwnerIds</name>
        <dataType>String</dataType>
        <expression>{!$Record.OwnerId}</expression>
    </formulas>
    <interviewLabel>Listing-After Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Listing (Status)-After Flow</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Call_center_to_Verify_Create_Task</name>
        <label>Call center to Verify (Create Task)</label>
        <locationX>270</locationX>
        <locationY>1679</locationY>
        <connector>
            <targetReference>Check_statuss</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Call_center_to_Verify_Create_Task_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CreatedById</field>
            <value>
                <stringValue>0051t000001uVCA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <stringValue>Agent has marked Listing as Lost/Irrelevant/Spam - Please verify this action and re-assign as required. Mark this task as completed when done.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <stringValue>0051t000001uVCA</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>In Progress</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Listing Lost - Please Verify.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Call_center_to_Verify_Create_Task_Error_Log</name>
        <label>Call center to Verify (Create Task) Error Log</label>
        <locationX>534</locationX>
        <locationY>1787</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Call center to Verify (Create Task)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing (Status)-After Flow </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Property Valuation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_a_Task</name>
        <label>Create a Task</label>
        <locationX>270</locationX>
        <locationY>4007</locationY>
        <faultConnector>
            <targetReference>Log_Flow_Fault_Detail</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>DateOfTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Its Unpublished DASH.</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>270</locationX>
        <locationY>1139</locationY>
        <connector>
            <targetReference>Check_status_is_Lost</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Create_Task_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>CurrencyIsoCode</field>
            <value>
                <stringValue>AED</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>OwnerId</field>
            <value>
                <elementReference>$Record.OwnerId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Priority</field>
            <value>
                <stringValue>Normal</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Not Started</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Listing Verified - Please request for Content creation..</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>TaskSubtype</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Task_Error_Log</name>
        <label>Create Task Error Log</label>
        <locationX>534</locationX>
        <locationY>1247</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Create Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing (Status)-After Flow </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Property Valuation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Log_Flow_Fault_Detail</name>
        <label>Log Flow Fault Detail</label>
        <locationX>534</locationX>
        <locationY>4115</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Create Task on Listing</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing (Status)-After Flow</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Task</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Broker_Ids_Error_Log</name>
        <label>Update Broker Ids Error Log</label>
        <locationX>534</locationX>
        <locationY>3275</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Broker Ids</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing (Status)-After Flow </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Property Valuation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Update_Property_Valuation_Status1</name>
        <label>Update Property Valuation Status</label>
        <locationX>314</locationX>
        <locationY>2651</locationY>
        <inputAssignments>
            <field>Exception_Message__c</field>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MethodName__c</field>
            <value>
                <stringValue>Update Property Valuation Status</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name__c</field>
            <value>
                <stringValue>Listing (Status)-After Flow </stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ObjectID__c</field>
            <value>
                <elementReference>$Record.Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Object__c</field>
            <value>
                <stringValue>Property Valuation</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type__c</field>
            <value>
                <stringValue>Error</stringValue>
            </value>
        </inputAssignments>
        <object>Error_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordUpdates>
        <name>update_fields</name>
        <label>Update Broker Ids</label>
        <locationX>270</locationX>
        <locationY>3167</locationY>
        <connector>
            <targetReference>Exclusive_listing_under_contracts</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Broker_Ids_Error_Log</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>Broker_LID__c</field>
            <value>
                <elementReference>BrokerLID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_s_Listing_ID_2__c</field>
            <value>
                <elementReference>$Record.Auto_Generated_broker_reference_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_s_Listing_ID_UAE__c</field>
            <value>
                <elementReference>$Record.Auto_Generated_broker_reference_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Broker_s_Listing_ID__c</field>
            <value>
                <elementReference>$Record.Auto_Generated_broker_reference_ID__c</elementReference>
            </value>
        </inputAssignments>
        <inputReference>$Record</inputReference>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Property_Valuation_Status</name>
        <label>Update Property Valuation Status</label>
        <locationX>50</locationX>
        <locationY>2543</locationY>
        <connector>
            <targetReference>check_Autogenerated_Broke_Reference_ID</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Update_Property_Valuation_Status1</targetReference>
        </faultConnector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>$Record.Property_Valuation__r.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Instructed</stringValue>
            </value>
        </inputAssignments>
        <object>Property_Valuation__c</object>
    </recordUpdates>
    <start>
        <locationX>408</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Photo_Uploaded</targetReference>
        </connector>
        <object>Listing__c</object>
        <recordTriggerType>CreateAndUpdate</recordTriggerType>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
    <variables>
        <name>RecipientIDs</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
