force-app/main/default/flows/Listing_Capture_Published_and_Withdrawn_dates.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>61.0</apiVersion>
    <assignments>
        <name>Capture_Publish_Date_of_Dubai_SIR_Website</name>
        <label>Capture Publish Date of Dubai SIR Website</label>
        <locationX>50</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Published_Date_Dubai_SIR_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Publish_Date_of_KSA_Website</name>
        <label>Capture Publish Date of KSA Website</label>
        <locationX>578</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Published_Date_KSA_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Publish_Date_of_OTM</name>
        <label>Capture Publish Date of OTM</label>
        <locationX>842</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Published_Date_On_The_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Publish_Date_of_RM_Website</name>
        <label>Capture Publish Date of RM Website</label>
        <locationX>1106</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Published_Date_Rightmove_UK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Publish_Date_of_UK_SIR_Website</name>
        <label>Capture Publish Date of UK SIR Website</label>
        <locationX>314</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Published_Date_UK_SIR_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_Publish_Date_of_Zoopla</name>
        <label>Capture Publish Date of Zoopla</label>
        <locationX>2690</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Published_Date_Zoopla__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_UnPublish_Date_of_KSA_Website</name>
        <label>Capture UnPublish Date of KSA Website</label>
        <locationX>1898</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdrawn_Date_KSA_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_UnPublish_Date_of_OTM</name>
        <label>Capture UnPublish Date of OTM</label>
        <locationX>2162</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdrawn_Date_On_The_Market__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_UnPublish_Date_of_RM_Website</name>
        <label>Capture UnPublish Date of RM Website</label>
        <locationX>2426</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdrawn_Date_Rightmove_UK__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_UnPublish_Date_of_UK_SIR_Website</name>
        <label>Capture UnPublish Date of UK SIR Website</label>
        <locationX>1634</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdrawn_Date_UK_SIR_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_UnPublish_Date_of_Zoopla</name>
        <label>Capture UnPublish Date of Zoopla</label>
        <locationX>2954</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdrawn_Date_Zoopla__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <assignments>
        <name>Capture_UnPublishDate_of_Dubai_SIR_Website</name>
        <label>Capture UnPublish Date of Dubai SIR Website</label>
        <locationX>1370</locationX>
        <locationY>395</locationY>
        <assignmentItems>
            <assignToReference>$Record.Withdrawn_Date_Dubai_SIR_Website__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <decisions>
        <name>Check_Published_status</name>
        <label>Check Published status</label>
        <locationX>1634</locationX>
        <locationY>287</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Published_on_Dubai_SIR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_Dubai_SIR_Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_Dubai_SIR_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Publish_Date_of_Dubai_SIR_Website</targetReference>
            </connector>
            <label>Published on Dubai SIR</label>
        </rules>
        <rules>
            <name>Published_on_UK_SIR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_UK_SIR_Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_UK_SIR_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Publish_Date_of_UK_SIR_Website</targetReference>
            </connector>
            <label>Published on UK SIR</label>
        </rules>
        <rules>
            <name>Published_on_KSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_KSA_Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_KSA_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Publish_Date_of_KSA_Website</targetReference>
            </connector>
            <label>Published on KSA</label>
        </rules>
        <rules>
            <name>Published_on_OTM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_On_The_Market__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_On_The_Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Publish_Date_of_OTM</targetReference>
            </connector>
            <label>Published on OTM</label>
        </rules>
        <rules>
            <name>Published_on_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_Rightmove_UK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_Rightmove_UK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Publish_Date_of_RM_Website</targetReference>
            </connector>
            <label>Published on RM</label>
        </rules>
        <rules>
            <name>Withdrawn_from_Dubai_SIR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_Dubai_SIR_Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_Dubai_SIR_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_UnPublishDate_of_Dubai_SIR_Website</targetReference>
            </connector>
            <label>Withdrawn from Dubai SIR</label>
        </rules>
        <rules>
            <name>Withdrawn_from_UK_SIR</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_UK_SIR_Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_UK_SIR_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_UnPublish_Date_of_UK_SIR_Website</targetReference>
            </connector>
            <label>Withdrawn from UK SIR</label>
        </rules>
        <rules>
            <name>Withdrawn_from_KSA</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_KSA_Website__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_KSA_Website__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_UnPublish_Date_of_KSA_Website</targetReference>
            </connector>
            <label>Withdrawn from KSA</label>
        </rules>
        <rules>
            <name>Withdrawn_from_OTM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_On_The_Market__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_On_The_Market__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_UnPublish_Date_of_OTM</targetReference>
            </connector>
            <label>Withdrawn from OTM</label>
        </rules>
        <rules>
            <name>Withdrawn_from_RM</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_Rightmove_UK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_Rightmove_UK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_UnPublish_Date_of_RM_Website</targetReference>
            </connector>
            <label>Withdrawn from RM</label>
        </rules>
        <rules>
            <name>Publish_on_Zoopla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_Zoopla_UK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_Zoopla_UK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_Publish_Date_of_Zoopla</targetReference>
            </connector>
            <label>Publish on Zoopla</label>
        </rules>
        <rules>
            <name>Withdrawn_from_Zoopla</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Publish_on_Zoopla_UK__c</leftValueReference>
                <operator>IsChanged</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>$Record.Publish_on_Zoopla_UK__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Capture_UnPublish_Date_of_Zoopla</targetReference>
            </connector>
            <label>Withdrawn from Zoopla</label>
        </rules>
    </decisions>
    <description>This flow will capture Published and Withdrawn dates on Listing whenever a Listing is published or withdrawn from a portal. For example, it will capture the date when Listing was published on UK SIR website.</description>
    <environments>Default</environments>
    <interviewLabel>Listing | Capture Published and Withdrawn dates {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Listing | Capture Published and Withdrawn dates</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>1508</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Check_Published_status</targetReference>
        </connector>
        <filterLogic>or</filterLogic>
        <filters>
            <field>Publish_on_Dubai_SIR_Website__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Publish_on_KSA_Website__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Publish_on_UK_SIR_Website__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Publish_on_On_The_Market__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Publish_on_Rightmove_UK__c</field>
            <operator>IsChanged</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>Listing__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <triggerType>RecordBeforeSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
