force-app/main/default/flows/UK_listing_published_notification_to_all_Uk_agents.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>To_Rent_listing_agents</name>
        <label>To Rent listing agents</label>
        <locationX>440</locationX>
        <locationY>384</locationY>
        <actionName>Listing__c.New_UK_RENT_listing_is_published</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing__c.New_UK_RENT_listing_is_published</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <actionCalls>
        <name>To_Sale_listing_agents</name>
        <label>To Sale listing agents</label>
        <locationX>176</locationX>
        <locationY>384</locationY>
        <actionName>Listing__c.New_UK_SALE_listing_is_published</actionName>
        <actionType>emailAlert</actionType>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>SObjectRowId</name>
            <value>
                <elementReference>$Record.Id</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Listing__c.New_UK_SALE_listing_is_published</nameSegment>
        <offset>0</offset>
    </actionCalls>
    <apiVersion>61.0</apiVersion>
    <decisions>
        <name>Sale_or_rent</name>
        <label>Sale or rent</label>
        <locationX>440</locationX>
        <locationY>276</locationY>
        <defaultConnectorLabel>Default Outcome</defaultConnectorLabel>
        <rules>
            <name>Sale</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Sale</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Sale_listing_agents</targetReference>
            </connector>
            <label>Sale</label>
        </rules>
        <rules>
            <name>Rent</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>$Record.Listing_Type__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Rent</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>To_Rent_listing_agents</targetReference>
            </connector>
            <label>Rent</label>
        </rules>
    </decisions>
    <description>Added decision based on sale or rent listing to send email to sale agents vs lettings agents.
17/1/25: Adding a scheduled path to send email after 1 hour as it takes time to be available on the website.</description>
    <environments>Default</environments>
    <interviewLabel>UK listing published notification to all Uk agents {!$Flow.CurrentDateTime}</interviewLabel>
    <label>UK listing published notification to all Uk agents</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <doesRequireRecordChangedToMeetCriteria>true</doesRequireRecordChangedToMeetCriteria>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Publish_on_UK_SIR_Website__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>Status__c</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Active</stringValue>
            </value>
        </filters>
        <object>Listing__c</object>
        <recordTriggerType>Update</recordTriggerType>
        <scheduledPaths>
            <name>Send_after_1_hour</name>
            <connector>
                <targetReference>Sale_or_rent</targetReference>
            </connector>
            <label>Send after 1 hour</label>
            <offsetNumber>1</offsetNumber>
            <offsetUnit>Hours</offsetUnit>
            <recordField>Published_Date_UK_SIR_Website__c</recordField>
            <timeSource>RecordField</timeSource>
        </scheduledPaths>
        <triggerType>RecordAfterSave</triggerType>
    </start>
    <status>Active</status>
</Flow>
